{
	admin off
	auto_https off
}

:80 {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	redir /client /client/

	handle_path /client/* {
		reverse_proxy client:3000 {
			health_uri /health
			health_interval 30s
			health_timeout 5s
		}
	}

	handle {
		reverse_proxy workforce:3000 {
			health_uri /health
			health_interval 30s
			health_timeout 5s
		}
	}
}
